<%- include ./partials/head %>


<body>

  <%- include ./partials/menu %>

    <div id="app" class="container-fluid align-middle">

      <!-- Modal -->
      <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addModalLabel">Add User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                  <div class="form-group">
                      <label for="userNameInput">Username</label>
                      <input v-model="user.username" id="userNameInput" type="text" class="form-control" placeholder="John7087" required>
                    </div>
                    <div class="form-group">
                        <label for="passInput">Password</label>
                        <input v-model="user.password" id="passInput" type="password" class="form-control" required>
                      </div>
                <div class="form-group">
                  <label for="nameInput">Name</label>
                  <input v-model="user.firstName" id="nameInput" type="text" class="form-control" placeholder="John" required>
                </div>
                <div class="form-group">
                  <label for="nameInput">Last Name</label>
                  <input v-model="user.lastName" id="lastNInput" type="text" class="form-control" placeholder="Smith" required>
                </div>
                <div class="form-group">
                  <label for="markdownInput">Email</label>
                  <input v-model="user.email" id="markdownInput" type="email" class="form-control" placeholder="John@gmail.com" required>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button v-on:click="add" type="button" class="btn btn-primary" data-dismiss="modal">Add</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container">

      <div class="pt-5">
          <div class="row justify-content-between">
            <div class="col-6">
              <h1 class="text-left">Users</h1>
            </div>
            <div class="col-6 text-right">
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
                Add
              </button>
            </div>
          </div>
        </div>
  
        <table class="table text-center">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Added</th>
              <th scope="col">User Name</th>
              <th scope="col">E-Mail</th>
              <th scope="col">Admin</th>
              <th scope="col">Verified</th>
              <th scope="col">Active</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="user in users">
              <th scope="row">{{user.id}}</th>
              <td>{{user.created | fromNow }}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td> <input type="checkbox" v-model="user.admin" ></td>
              <td> <input type="checkbox" v-model="user.verified"></td>
              <td><input type="checkbox" v-model="user.active"></td>
            </tr>
          </tbody>
        </table>

      </div>


    </div>

    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">Code with <3 by Unicoderns.</span>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
      crossorigin="anonymous"></script>
    <!-- Bootstrap core JavaScript
  ================================================== -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
      crossorigin="anonymous"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
    <!-- development version, includes helpful console warnings -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
    <script src="/admin/public/js/controllers/menuController.js"></script>
    <script src="/admin/public/js/controllers/userController.js"></script>
</body>

</html>