<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Chriss Mejía">

  <title>JSloth Admin</title>
  <link rel="stylesheet" href="/auth/styles/app.css">
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand font-weight-bold" href="/">JSloth
      <span class="font-weight-light h6 text-muted"> Auth</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>


 <div class="container">
     <div class="row d-flex justify-content-center">
         <div class="col-lg-4 col-md-8 col-sm-12 align-self-center">
                <form id="app"> 
                    <br><br><br><br>
                    <div class="form-group">
                            <label for="nameInput">Name</label>
                            <input v-model="user.firstName" id="nameInput" type="text" class="form-control" placeholder="John" required>
                          </div>
                          <div class="form-group">
                            <label for="nameInput">Last Name</label>
                            <input v-model="user.lastName" id="lastNInput" type="text" class="form-control" placeholder="Smith" required>
                          </div>
                        <div class="form-group">
                            <label for="userNameInput">Username</label>
                            <input v-model="user.username" id="userNameInput" type="text" class="form-control" placeholder="John7087" required>
                          </div>
                          <div class="form-group">
                              <label for="passInput">Password</label>
                              <input v-model="user.password" id="passInput" type="password" class="form-control" required>
                            </div>
                      <div class="form-group">
                        <label for="markdownInput">Email</label>
                        <input v-model="user.email" id="markdownInput" type="email" class="form-control" placeholder="John@gmail.com" required>
                      </div>
                      
                          <div class="form-group">
                              <button v-on:click="signUp" type="button" class="btn btn-primary btn-lg btn-block" data-dismiss="modal">Sign Up</button>
                              </div>
                      
                    </form>

         </div>
            
     </div>

 </div>

  <footer class="footer">
    <div class="container text-center">
      <span class="text-muted">Code with <3 by Unicoderns.</span>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
    crossorigin="anonymous"></script>
  <!-- Bootstrap core JavaScript
    ================================================== -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
    crossorigin="anonymous"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="https://maxcdn.bootstrapcdn.com/js/ie10-viewport-bug-workaround.js"></script>
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  <script src="/auth/public/js/controllers/signupController.js"></script>
</body>

</html>